.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 3rem;
    margin: 4vw 3vw;
}

.question {
    border-left: whitesmoke 2px solid;
    padding-left: 4px;
}

.first {
    grid-column: 1 / 2;
    grid-row:  1 / 4;
}

.second {
    grid-column: 2 / 3;
    grid-row:  2 / 4;
}

.third {
    grid-column: 3 / 3;
    grid-row:  3 / 3;
}