

#shuffleAnim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: none;
    width: 100%;
    overflow: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 15% auto 0 auto;
    font-size: 2.75em;
}

#index-anim, #shuffle {
    font-size: 1em;
}

#sub-title {
    position: absolute;
    font-size: 1.125rem;
    transform: translateY(3rem);
    opacity: 0;
    animation: fadeInUp 2s ease forwards;
    margin: auto;
}

#sub-title a {
    text-decoration: none;
    color: aqua;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}