
#projects {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    margin: 0 8vw 4vw 8vw;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

h2 {
    grid-row: 1/1;
    grid-column: 3/6;
    text-align: center;
}

h3 {
    border-bottom: 2px solid whitesmoke;
}

p {
    line-height: 3vh;
}

img {
    width: 16vw;
    height: auto;
    border-bottom: 2px solid whitesmoke;
    overflow: hidden;
}

.project-content {
    border: 4px solid whitesmoke;
}

.project-content:hover {
    border: 4px solid aqua;
}

.project-content:hover > a > h3 {
    color: aqua;
}

/*-----------------------------------------------------------------------------------*/
#project1 {
    grid-row: 2/4;
    grid-column-end: 2;
}

/*-----------------------------------------------------------------------------------*/
#project2 {
    grid-row: 2/4;
    grid-column-end: 4;
}

/*-----------------------------------------------------------------------------------*/
#project3 {
    grid-row: 2/4;
    grid-column-end: 6;
}

/*-----------------------------------------------------------------------------------*/
#project4 {
    grid-row: 2/4;
    grid-column-end: 8;
}

/*-----------------------------------------------------------------------------------*/
#project5 {
    grid-row: 5/7;
    grid-column-end: 2;
}

/*-----------------------------------------------------------------------------------*/
#project6 {
    grid-row: 5/7;
    grid-column-end: 4;
}

/*-----------------------------------------------------------------------------------*/
#project7 {
    grid-row: 5/7;
    grid-column-end: 6;
}

/*-----------------------------------------------------------------------------------*/
#project8 {
    grid-row: 5/7;
    grid-column-end: 8;
}

/*-----------------------------------------------------------------------------------*/